*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vb;
    width: 280px;
    background-color: #1e2a3a;;
    color: #fff;
}

.main{
    margin-left: 280px;
}

